.inputError {
    box-shadow: 1px 1px 4px rgba(255,100,100,.5), -1px 1px 4px rgba(255,100,100,.5), -1px -1px 4px rgba(255,100,100,.5), 1px -1px 4px rgba(255,100,100,.5);
}

img {
    max-width: 200px;
    max-height: 100px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, form {
  max-width: 800px;

}

#errorMessage {
	background-color: darkred;
	font-weight: bold;
}

.error {
  font-weight: bold;
  border-color: red;
}

.formInput {
  display: inline-block;
  box-sizing: border-box;
}
.formInput input:not([type=checkbox]):not([type=radio]), 
.formInput select {
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
  width: 100%;
}
.percent25 {
  width: 24%;
}
.percent33 {
  width: 32%;
}
.percent50 {
  width: 49%;
}
.percent66 {
  width: 65%;
}
.percent100 {
  width: 99%;
}
button[type=submit], input[type=submit] {
  margin: 0px;
  padding: 8px;
  background-color: green;
  color: white;
  font-weight: bold;
  border: 2px solid grey;
}
button[type=submit]:hover, input[type=submit]:hover {
  cursor: pointer;
}
button[type=submit]:active, input[type=submit]:active {
  border: 2px solid black;
}