body, td { font: 14px/1.3 verdana, arial, helvetica, sans-serif; }
h1 { font-size:1.3em; }
h2 { font-size:1.2em; }
a:link { color:#33c; } 
a:visited { color:#339; }


/* order form demo styles */

table.demoTbl {
    border-collapse: collapse;
}
table.demoTbl td, table.demoTbl th {
    padding: 6px;
}

table.demoTbl { 
    border:1px dashed #9da8c7;
    margin:1em 0;
}
table.demoTbl td  { 
    text-align:left; 
    vertical-align:top; 
}
table.demoTbl th	{ 
    text-align:center; 
    font-size: 1.1em;
    background-color:#E9ECF5;
    border-bottom:1px dashed #9da8c7;
}
table.demoTbl th.first { 
    text-align:left;
}
table.demoTbl td.qty,
table.demoTbl td.cur { 
    text-align:center;
}
table.demoTbl td.label { 
    text-align:right;
}
table.demoTbl td.submit {
    text-align: center;
    background-color:#E9ECF5;
    border-top:1px dashed #9da8c7;
}
table.demoTbl td.total { 
    text-align:right; 
    font-weight:bold;
    padding-bottom:18px;
}
    
table.demoTbl td.last {
    padding-bottom:18px;
}
table.demoTbl td.subtot { 
    text-align:right; 
    padding-bottom:18px;
}
table.demoTbl input.cur { 
    text-align:right;
}
